*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: stretch;
}

.list-group-item {
  padding: 0;

  .task {
    display: inline-block;
    padding: 10px 20px;
    user-select: none;
  }

  .completed {
    text-decoration: line-through;
    color: green;
  }

  .deleteTaskBtn {
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
}

.list-group-item:hover {
  background-color: beige;

  .deleteTaskBtn {
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
}

.footer {
  font-size: 14px;
  background-color: #f3f3f3;
  width: 100%;
  max-height: max-content;
  text-align: center;
  padding: 20px;

  ul {
    display: grid;
  }

  li {
    justify-self: center;
  }
}
